* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
}

.clock {
    width: 550px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid blue;
    border-radius: 20px;
}

.clock_item {
    font-size: 70px;
    font-weight: 900;
    color: dodgerblue;
}